<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('User list')}"></head>
<body>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">Questões</p>
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <h2>Questões</h2>
                <hr/>
                <button class="btn-new mt-3 button-submit" onclick="navigate('questions/new')">Criar questão
                </button>
                <div class="d-flex mt-3">
                    <div class="user-card card" th:each="question : ${questions}">
                        <div>
                            <label class="strong">Questão:</label>
                            <p th:text="${question.name}"></p>
                        </div>

                        <div>    
                            <label class="strong">Dificuldade:</label>
                            <p th:text="${question.difficulty}"></p>
                        </div>

                        <div>
                            <label class="strong">Tipo:</label>
                            <div th:switch="${question.answerType}">
                                <p th:case="1">Aberta</p>
                                <p th:case="2">Escolha única</p>
                                <p th:case="3">Escolha multipla</p>
                                <p th:case="4">Verdadeiro ou falso</p>
                            </div>
                        </div>

                        <div>
                            <label class="strong mt-3">Criado por:</label>
                            <p th:text="${question.user.name}"></p>
                        </div>

                        <div>
                            <label class="strong">Tags:</label>
                            <div class="ui proveskill labels mt-2">
                                <a class="ui label" th:each="tag : ${question.tags}">
                                    <span class="tag-list-show" th:text="${tag}"></span>
                                </a>
                            </div>
                        </div>

                        <div class="div-btn mt-2">
                            <button class="button-edit" th:onclick="navigate('questions/' + [[${question.id}]])">
                                <i class="edit icon"></i>
                            </button>
                            <button class="button-edit" th:onclick="removeData([[${question.id}]], 'questions')">
                                <i class="trash icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
