<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('Questão')}"></head>
<body>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <p class="breadcrumb">Questões / Adicionar ou editar</p>
                <form class="ui form" method="post" onsubmit="submitForm(event, 'questions')">
                    <h2>Questão</h2>
                    <hr/>

                    <input class="ui input" name="id" th:attr="value=${question != null ? question.id : ''}" type="hidden"
                           readonly>

                    <div class="field">
                        <label>Questão</label>
                        <input class="ui input" name="name" th:attr="value=${question != null ? question.name : ''}"
                               type="text"
                               placeholder="What is the difference between a class and an object?" required>
                    </div>

                    <div class="field">
                        <label>Dificuldade</label>
                        <select name="difficulty" th:selected="${question == null}">
                            <option value="1" th:selected="${question != null && question.difficulty == 1}">1</option>
                            <option value="2" th:selected="${question != null && question.difficulty == 2}">2</option>
                            <option value="3" th:selected="${question != null && question.difficulty == 3}">3</option>
                            <option value="4" th:selected="${question != null && question.difficulty == 4}">4</option>
                            <option value="5" th:selected="${question != null && question.difficulty == 5}">5</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Tags</label>
                        <div class="ui action input">
                            <input class="ui input" name="tag"
                                   type="text">
                            <button class="ui teal right labeled icon button btn-ipt-add" type="button"
                                    onclick="addTag(document.querySelector('input[name=tag]').value);">
                                <i class="plus icon"></i>
                                Add
                            </button>
                        </div>
                        <div class="ui proveskill labels tag-area mt-3"></div>
                    </div>

                    <div class="field">
                        <label>Tipo de questão</label>
                        <select id="answerType" name="answerType" th:selected="${question == null}">
                            <option value="1" th:selected="${question != null && question.answerType == 1}">
                                Aberta
                            </option>
                            <option value="2" th:selected="${question != null && question.answerType == 2}">Escolha única
                            </option>
                            <option value="3" th:selected="${question != null && question.answerType == 3}">Escolha multipla
                            </option>
                            <option value="4" th:selected="${question != null && question.answerType == 4}">Verdadeiro ou falso
                            </option>
                        </select>
                    </div>

                    <div id="answerInputs"></div>

                    <div class="mt-3">
                        <button class="ui button button-reset" type="button" onclick="navigate('questions')">Voltar</button>
                        <button class="ui button button-submit" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
<script th:inline="javascript">
        const tagsFromBase = [[${question} != null ? ${question.tags} : '']];
        tagsFromBase.forEach(function (tag) {
            addTag(tag);
        });

        const answerChoices = [[${question} != null ? ${question.answerValues} : '']];
        addAnswerChoices(answerChoices);
    </script>
</body>
</html>
