<div class="title">
  <button mat-mini-fab color="primary" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2>{{title}}</h2>
</div>
<mat-divider></mat-divider>

<form [formGroup]="formQuestion">
  <div class="form-content">
    <div class="form-content--item">
      <label for="nome">Questão:</label>
      <input type="text" class="form-control" name="question" formControlName="question">
    </div>
    <div class="form-content--item">
      <label for="email">Dificuldade:</label>
      <select class="form-control" name="type" formControlName="type">
        <option value="1">Muito fácil</option>
        <option value="2">Fácil</option>
        <option value="3">Médio</option>
        <option value="4">Dificil</option>
        <option value="5">Muito dificil</option>
      </select>
    </div>
  </div>

  <div class="form-content">
    <div class="form-content--item">
      <label for="school">Tags:</label>
      <input type="text" class="form-control" name="tags" formControlName="tags">
    </div>

    <div class="form-content--item">
      <label for="type">Tipo:</label>
      <select class="form-control" name="type" formControlName="type">
        <option value="1">Aberta</option>
        <option value="2">Escolha única</option>
        <option value="3">Multipla Escolha</option>
        <option value="4">Verdadeiro ou falso</option>
      </select>
    </div>
  </div>

  <div class="actions">
    <button type="submit" mat-raised-button color="primary">Salvar</button>
    <button (click)="back()" mat-raised-button color="warn">Cancelar</button>
  </div>
</form>
