.menu-container {
    width: 100%;
    display: flex;
}

.menu-container .nav {
    background-color: #f9f9f9;
    float: left;
    width: 300px;
    height: 100vh;
    border: 1px solid #cfcfcf94;
    z-index: 9;
}

.image-container {
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.logo {
    padding: 15px;
    border-radius: 100%;
    width: 70%;
}

.item-container {
    width: 100%;
}

.menu-box-input {
    padding-bottom: 5px;
    margin: 0 15px 10px 15px;
}

input {
    padding: 15px !important;
}

.menu-box-input-search {
    width: 100%;
}

.input-search {
    height: 46px;
    font-size: 17px;
}

.menu-box {
    padding: 20px 30px;
    background: #ededed;
    cursor: pointer;
}

.menu-box.active {
    background-color: #162d5c;
    color: #fff;
}

.vector-home {
    width: 320px;
}

.menu-box:hover {
    background-color: #f9f9f9;
}

span {
  font-weight: 500;
  position: relative;
  top: -2px;
  font-size: 18px;
}

.nav-footer {
    width: 100%;
    display: flex;
    align-items: end;
}

.nav-footer > div {
    background: #d9d9d97d;
    width: 100%;
    padding: 30px 15px;
}

.menu-container > .screen {
    overflow-y: auto;
    max-height: 100vh;
    width: 100% !important;
    padding-top: 30px;
    z-index: 9;
}

.container-th {
    margin: 0 30px;
}

.add-order {
    z-index: 9;
    position: fixed;
    border-radius: 6px;
    top: 15px;
    left: 315px;
    border: transparent;
    font-size: 18px;
    padding: 15px;
    background: #343f3de3;
    color: #fff;
}

.container-th > .link {
    margin-top: 50px !important;
}

.add-order:hover {
    background: #343f3d;
    cursor: pointer;
}

.form-button-section {
    height: 38px;
    width: 250px;
    margin: 12px 0 !important;
}

.form-button-section > .positive {
    background-color: #343f3d !important;
}

.btn-new {
    padding: 16px 20px;
    border-radius: 6px;
    border: none;
    background: #f9f9f9;
    color: #fff;
}

.btn-new:hover {
    background: #f9f9f9;
    cursor: pointer;
}

form > hr {
    margin: 15px 0;
    height: 1px;
    background: #d7d7d7;
    border: transparent;
}

p {
    font-size: 14px;
}

.read-more {
    height: 48px;
    width: 140px;
    background: #f9f9f9 !important;
    color: #fff !important;
    font-size: 17px !important;
    margin-bottom: 15px !important;
}

.text {
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.text > h1, .text > h3 {
    font-weight: 500 !important;
}

.w-100 {
    width: 100% !important;
}

.t-center {
    text-align: center;
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top: 12px !important;
}

.breadcrumb {
    padding: 10px 15px;
    font-size: 16px;
    background: #efefef;
    border-radius: 6px;
}

.button-submit {
    background: #162d5c !important;
    color: #fff !important;
}

.button {
    padding: 15px 30px !important;
}

.user-card {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 10px;
    float: none;
    width: 100%;
    justify-content: space-between;
    padding: 15px !important;
    border: 1px solid #dfdfdf;
}

.strong {
    font-weight: 600;
}

.div-btn {
    text-align: center;
}

.btn-remove {
    background: #d95032cc !important;
    color: #fff !important;
    width: 100%;
    padding: 10px 0px !important;
    margin-top: 12px !important;
}

.btn-remove:hover {
    background: #cb4c30cc !important;
    cursor: pointer;
}

.button-edit {
    font-size: 20px;
    border: none;
    color: #4a4a4a;
    background-color: #fff;
}

.button-edit:hover {
    cursor: pointer;
    border-radius: 6px !important;
    background: #d9d9d9;
}

.button-menu {
    display: none;
}

.button-menu > i {
    margin: 0 auto !important;
}

.btn-ipt-add {
    background: #f25835 !important;
    color: #fff !important;
}

.btn-ipt-add:hover {
    background: #e15434 !important;
    cursor: pointer;
}

.ui.proveskill.label, .ui.proveskill.labels .label {
    background: #bf6a4b !important;
    color: #fff !important;
}

.ui.proveskill.label, .ui.proveskill.labels .label:hover {
    background: #c36e4f !important
}

.tag-list-show {
    all: unset;
}

@media only screen and (min-width: 769px) {
    .nav {
        display: grid;
    }
}

@media only screen and (max-width: 768px) {
    .button-menu {
        font-size: 20px !important;
        display: block !important;
        width: 60px !important;
        position: absolute !important;
        height: 60px !important;
        border-radius: 100% !important;
        border: none !important;
        bottom: 15px !important;
        right: 15px !important;
        z-index: 20 !important;
        background: #c9c9c9 !important;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px !important;
   }

   .button-menu:hover {
        cursor: pointer !important;
        background: #bfbfbf !important;
   }

  .nav {
        display: none;
        position: fixed;
        z-index: 999 !important;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        background: #f9f9f9 !important;
  }

  .user-card {
        width: 100% !important;
  }
}