
  <h1 mat-dialog-title>Esqueci minha senha</h1>
  <mat-dialog-content>
    Informe seu email e a nova senha:
    <div>
      <input class="form-control" id="mail" placeholder="Email" type="email">
      <input class="form-control" id="password" type="password" placeholder="Senha">
    </div>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="cancel()" mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
    <button mat-button (click)="closeDialog()" mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
  </mat-dialog-actions>
