<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('User list')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <p class="breadcrumb">Usuários</p>
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <h2>Usuários</h2>
                <hr/>
                <button class="btn-new mt-3 button-submit" onclick="navigate('users/new')">Criar usuário</button>
                <div class="d-flex mt-3">
                    <div class="user-card card" th:each="user : ${users}">
                        <label class="strong">Nome:</label>
                        <p th:text="${user.name}"></p>

                        <label class="strong">Email:</label>
                        <p th:text="${user.email}"></p>

                        <label class="strong">Telefone:</label>
                        <p th:text="${user.phone}"></p>

                        <label class="strong">Escola/Universidade:</label>
                        <p th:text="${user.school}"></p>

                        <label class="strong">Tipo:</label>
                        <div th:switch="${user.userType}">
                            <p th:case="2">Docente</p>
                            <p th:case="1">Estudante</p>
                        </div>

                        <div class="div-btn">
                            <button class="button-edit" th:onclick="navigate('users/' + [[${user.id}]])">
                                <i class="edit icon"></i>
                            </button>
                            <button class="ui button btn-remove" th:onclick="removeData([[${user.id}]], 'users')">
                                <i class="trash icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
