<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: base-head('Usuário')}"></head>
<body>
<div class="image-background"></div>
<div class="menu-container">
    <div th:replace="~{nav :: menu}"></div>
    <div class="screen">
        <div class="container-th">
            <div class="ui">
                <button class="button-menu" onclick="showNav()">
                    <i class="align justify icon"></i>
                </button>
                <p class="breadcrumb">Usuários</p>
                <form class="ui form" method="post" onsubmit="submitForm(event, 'users')">
                    <h2>Usuário</h2>
                    <hr/>

                    <input class="ui input" name="id" th:attr="value=${user != null ? user.id : ''}" type="hidden" readonly>

                    <div class="field">
                        <label>Nome</label>
                        <input class="ui input" name="name" th:attr="value=${user != null ? user.name : ''}" type="text"
                               placeholder="João da Silva" required>
                    </div>

                    <div class="field">
                        <label>Email</label>
                        <input class="ui input" th:attr="value=${user != null ? user.email : ''}" name="email"
                               type="email" placeholder="joaosilva@gmail.com" required>
                    </div>

                    <div class="field">
                        <label>Telefone</label>
                        <input class="ui input" th:attr="value=${user != null ? user.phone : ''}" name="phone"
                               type="number" placeholder="(00) 0 0000-0000" required>
                    </div>

                    <div class="field">
                        <label>Escola/Universidade</label>
                        <input class="ui input" th:attr="value=${user != null ? user.school : ''}" name="school"
                               type="text" placeholder="Escola Estadual Paulo Freire"
                               required>
                    </div>

                    <div class="field">
                        <label>Tipo de usuário:</label>
                        <select name="userType" class="ui input" th:selected="${user == null}">
                            <option value="2" th:selected="${user != null && user.userType == 2}">Docente</option>
                            <option value="1" th:selected="${user != null && user.userType == 1}">Estudante</option>
                        </select>
                    </div>

                    <button class="ui button button-reset" type="button" onclick="navigate('users')">Voltar</button>
                    <button class="ui button button-submit" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:replace="~{base :: base-script}"></script>
</body>
</html>
